<div class="listing-container">
    <div class="listing-header">
        <h1 class="listing-h1">{{username}} - Add Listing</h1>
    </div>
    <div class="form-container">
        <form class="submit-form" (ngSubmit)="addListing()" ngNativeValidate>
            <input class="form-field" type="text" [(ngModel)]="listingTitle" name="listingTitle" placeholder="title"
                autocomplete="off" required />

            <input class="form-field" type="text" [(ngModel)]="description" name="description" placeholder="description"
                autocomplete="off" required />

            <input class="form-field" type="text" [(ngModel)]="street" name="street" placeholder="street"
                autocomplete="off" required />

            <input class="form-field" type="text" [(ngModel)]="city" name="city" placeholder="city" autocomplete="off"
                required />

            <input class="form-field" type="text" [(ngModel)]="postalCode" name="postalCode" placeholder="postal code"
                autocomplete="off" required />

            <input class="form-field" type="number" [(ngModel)]="price" name="price" placeholder="0.00"
                autocomplete="off" required />

            <input class="form-field" type="text" [(ngModel)]="username" name="username" placeholder="username"
                autocomplete="off" disabled />

            <input class="form-field" type="email" [(ngModel)]="email" name="email" placeholder="name@example.com"
                autocomplete="off" required />

            <button class="form-field listing" type="submit">Add</button>
            <button class="form-field cancel" routerLink="/">Cancel</button>
        </form>
    </div>
</div>