<div class="nav-bar">
    <nav>
        <div class="heading" routerLink="home">AirBnB</div>
        <ul class="links">
            <li><a routerLink="home">HOME</a></li>
            <li><a routerLink="listings">LISTINGS</a></li>
            <li><a routerLink="search">SEARCH</a></li>
        </ul>
        <div class="user-ui" *ngIf="loggedIn == false">
            <button routerLink="login">LOGIN</button>
            <button routerLink="signup">SIGN UP</button>
        </div>
        <div class="user-ui" *ngIf="loggedIn == true">
            <button class="logout" (click)="logout()">LOGOUT</button>
        </div>
    </nav>
</div>