<div class="booking-container">
    <div class="booking-header">
        <h1 class="booking-h1">{{listing.listing_id}} - Add Booking</h1>
    </div>
    <div class="form-container">
        <form class="submit-form" (ngSubmit)="addBooking()">
            <input class="form-field" type="date" [(ngModel)]="booking_start" name="username" placeholder="username"
                required autocomplete="off" />

            <input class="form-field" type="date" [(ngModel)]="booking_end" name="username" placeholder="username"
                required autocomplete="off" />

            <button class="form-field book" type="submit">Book</button>
            <button class="form-field cancel" routerLink="/">Cancel</button>
        </form>
    </div>
</div>