<table>
    <thead>
        <tr>
            <th>Listing ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Address</th>
            <th>Price</th>
            <th>Username</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let listing of listings">
        <tr>
            <td>{{listing.listing_id}}</td>
            <td>{{listing.listing_title}}</td>
            <td>{{listing.description}}</td>
            <td>{{listing.street}}, {{listing.city}}, {{listing.postal_code}}</td>
            <td>$ {{listing.price}}</td>
            <td>{{listing.username}}</td>
            <button (click)="book(listing)" *ngIf="loggedIn == true">Book</button>
        </tr>
    </tbody>
</table>